    @import url(./reset.css);

/* html{
    background: linear-gradient(180deg,#4A654A 0%,#68F0BD 50%,#5D7C71 100%);
} */
body{
    width: 100vw;
    min-width: 1100px;
    margin: 0 auto;
    background-color: #5d7c71;
    font-family: "Noto Sans TC", serif;
    color: #dfe8e4;
    font-size: 16px;
}


/* -------------頂端黏著header------------- */
.wrapper{
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    max-width: 1200px;
    min-width: 1100px;   
    margin: 0 auto;
    opacity: 1;

    color: #2b3632;
}

/* .header1{
    background-color: #161d1b;
    display: flex;
    height: 30px;   

    padding: 0 80px;   
}

.header1 p{
    color: white;
    line-height: 30px;
    margin: 0 auto;
    word-spacing: 5px;
    padding-left: 150px;
}

.social-link{
    line-height: 30px;   
}

.social-link a{
    display: inline-block;
    margin-left: 20px;;
    text-decoration: none;    
}

.header1 .fa-brands{
    color: white;
} */

.header2{
    background: linear-gradient(to right, #98b0a7,#f5f8f6); 
    display: flex;
    align-items: center;
    padding: 0 40px;
    margin-bottom: 30px;
    height: 100px;
     
    border-radius: 0 0 10px 10px;    
}

.header2 img{
    height: 80px;
}

.header2 ul{
    display: flex;
    margin: 0 auto;

    padding-left: 70px;
    /* 購物車左推40 + 會員登入本身30 */
}

.header2 li{    
    font-weight: bold;
    position: relative;
    padding: 0 15px;
}

.header2 li:not(:last-child)::after{
    content:"";    
    width: 1px;
    height: 40px;
    background-color: #5d7c71;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.header2 li a{
    display: block;
    text-decoration: none;
    color: #161d1b;
    transition: transform 0.3s ease;

    position: relative;
}

.header2 li a:hover {
    transform: translate(0,-5px);
}

.header2 li a:hover::before{
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-color: #161d1b;
    position: absolute;
    bottom: -5px;
    right: 0;
    left: 0;
    margin: auto;
}

/* .user-action{} */

.user-action a{
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: #5d7c71;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    box-shadow: 5px 4px 4px rgb(0, 0, 0,.5);
    font-size: clamp(14px, 1.6vw, 16px);

}

.user-action a:hover{
    color: #dfe8e4;
    background-color: #394c45;
}

.user-action a:last-child{
    margin-left: 40px;
}

/* .user-action a img{} */

.fa-cart-shopping{
    color: #dfe8e4;
}

/* ------------footer------------ */
.footer{
    background-color: #2b3632;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: 0 auto;
    box-sizing: border-box;

    width: 100%;
    /* max-width: 1200px; */
    min-width: 1100px;
}

.footer p{
    font-size: 12px;
    color: #dfe8e4;
   
    width: 200px;
    
}

.footer img{
    width: 70px;
    
}

.footer ul{
    display: flex;   
}

/* .footer li{} */

.footer a{
    margin-left: 30px;;
    text-decoration: none;
}

.footer .fa-brands{
    color: white;
}

/* header與footer共用hover  原因待詢問*/
.fa-instagram:hover{
    color: #FBFF25;
}
.fa-line:hover{
    color: #00B900;
}
.fa-facebook:hover{
    color: #0866FF;
}


