body{        
    overflow-x: hidden;  /*僅讓x軸隱藏 不會出現橫向卷軸*/
}

/* 麵包屑導引 */
.breadcrumb{
    margin: 30px 0 0 40px;
    line-height: 20px;
}

.breadcrumb ol{
    display: flex;
}

.breadcrumb li{
    color: #FFFF;
    font-weight: bold;
}


.breadcrumb a{
    color: #FFFF;
    text-decoration: none;    
}

/* 內容 */
.content{
    width: 83%;
    margin: 30px auto 50px;
    background-color: #FFFF;
    text-align: center;
    border-radius: 10px;
    font-size:clamp(1rem, 2vw, 2rem);
    padding: 30px 30px 200px;
    color: #2b3632;
}

.content h2{
    width: 75%;
    margin: 0 auto 55px;
    line-height: 1.6;
}

.content p{
    font-weight: bold;
}

.rwd-box{
    margin: 0 auto ;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 30px;


    display: none;
}

.moblie-img{
    width: 95%;
}

/* 入場動畫圖 */
.beetle-background{
    margin: 0 auto;
    background-image: url(../img/img-beetle-bulletin/main-pic-no-bg.png);
    width: 95%;
    height: 330px;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 30px;

    position: relative;
}

/* 左進圖 */
.beetle-background::before{
    content: "";
    display: block;
    background-image: url(../img/img-beetle-bulletin/beetle-left.png);
    background-size: cover;
    width: 506px;
    height: 330px;
    z-index: 1000;

    position: absolute;
    bottom: 0;
    left: 0;

    opacity: 1;
}

/* 右進圖 */
.beetle-background::after{
    content: "";
    display: block;
    background-image: url(../img/img-beetle-bulletin/beetle-right.png);
    background-size: cover;
    width: 414px;
    height: 329px;
    /* z-index: 1000; */

    position: absolute;
    top: 0;
    right: 30px;
}

.explosion{
    opacity: 0;

    position: absolute;
    bottom: -20px;
    left: 125px;
}

/* --------------------animation---------------------- */

.beetle-background{
    animation: bigBG 1.2s ease-out forwards;
}

.beetle-background::before{
    animation: running-beetle-left .8s ease-out forwards;
}

.beetle-background::after{
    animation: running-beetle-right .8s ease-out forwards;
}

.explosion{
    animation: displayExplosion .7s .64s linear forwards;
}

@keyframes bigBG{
    0%{transform: scale(3);z-index: 1001;} 
    99%{transform:scale(1);z-index: 1001;} 
    100%{transform: scale(1);z-index: 0}
}

@keyframes running-beetle-left{
    0%{transform: translateX(-700px);opacity: 0;}
    60%{transform: translateX(100px);opacity: .9;rotate:-20deg;}
    80%{transform: translateX(100px);opacity: 1;rotate:-60deg;}
    100%{transform: translateX(0px);opacity: 1;}
}

@keyframes running-beetle-right{
    0%{transform: translateX(700px);opacity: 0;}
    60%{transform: translateX(-100px);opacity: .9;rotate:20deg;}
    80%{transform: translateX(-100px);opacity: 1;rotate:60deg;}
    100%{transform: translateX(0px);opacity: 1;}
}

@keyframes displayExplosion{
    0%{transform: scale(1.5);opacity: 0}
    20%{transform: scale(1);opacity: 1}
    100%{transform: scale(1);opacity: 0}
}

/* --------------------animation----------------------- */


.content h1{
    font-size: clamp(1.5rem, 2.5vw,2.5rem);
    font-weight: bold;
    margin: 20px 0 40px;
}

.phone{
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone .fa-phone{
    margin-right: 20px;
    font-size: clamp(1rem, 2.5vw,1.5rem);
}

.phone-number{
    display: block;
    text-decoration: none;
    color: #161d1b;
    font-size: clamp(1rem, 2.5vw,1.5rem);
}

.social-button ul{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 90px;
}

.social-button li{
    width: 100px;
    height: 100px;
    background-size: cover;
}

.social-button a{
    display: block;
    width: 100px;
    height: 100px;
}

.social-button li:first-child{
    background-image: url(../img/img-beetle-bulletin/icon_facebook.png);
}

.social-button li:nth-child(2){
    background-image: url(../img/img-beetle-bulletin/icon_LINE.png);
}

.social-button li:last-child{
    background-image: url(../img/img-beetle-bulletin/icon_IG.png);
}

/* ------------------1000px--------------------------- */
@media (width <= 1000px) {
.beetle-background{
        display: none;
}

.rwd-box{
    display: block;
}


.breadcrumb{
    margin: 0 auto;
}

.breadcrumb ol{   
    justify-content: center;
    font-size: 15px;
}

}

/* --------------580px----------------------------- */
@media (width <= 580px) {

.social-button ul{
    gap: 60px;
} 
    
.social-button li{
    width: 60px;
    height: 60px;
}

.social-button a{
    width: 60px;
    height: 60px;
}

}

/* --------------430px----------------------------- */
@media (width <= 430px) {

.social-button ul{
    gap: 40px;
}   

.social-button li{
    width: 40px;
    height: 40px;
}

.social-button a{
    width: 40px;
    height: 40px;
}
    
    
}