
/* 麵包屑導引 */
.breadcrumb{
    margin: 30px 0 0 40px;
    line-height: 20px;
}

.breadcrumb ol{
    display: flex;
}

.breadcrumb li{
    color: #FFFF;
    font-weight: bold;
}


.breadcrumb a{
    color: #FFFF;
    text-decoration: none;
    
}
/* 外殼flex 讓頁籤跑到右邊 */
.shell{
    display: flex;
    flex-direction: row-reverse; /*從右到左排列*/
    justify-content: flex-start;
    
    
    padding: 0 235px 75px 60px;
}

.r-list{
    position: fixed; 
    right: 30px;
    bottom: 140px;
    top: 200px;
 /*固定在視窗右邊70px 且不低於80+25+25+10px 才不會碰到footer和page botton*/

    background-color: rgb(93, 124, 113,0.5); /*視窗縮小時經過文字會透明化*/
    padding: 10px;
    line-height: 1.3;
    width: 130px;
    height: 340px;    

    z-index: 1000;
}


.r-list h2{
    font-weight: bold;
    margin-bottom: 25px;
    color: #FFFF;
}

/* .r-list ul{} */

.r-list li{
    font-size: 12px;
    margin-bottom: 10px;
    height: 33px;

    position: relative;
}

.r-list li:hover{
    font-weight: bold;
}

.r-list li::after{
    content: "more";
    display: block;
    border-bottom: 1px solid #FFFF;
    color: #FFFF;
    text-align: right;
    font-size: 8px;

    width: 130px;
    position: absolute;
    right: 0;
    bottom: 0px;
}

.r-list a{
    text-decoration:none; 
    color: #FFFF;
}

.search{
    display: flex;
    align-items: center;
}

.search button{
    background: none;
    border: none;
    padding: 0;

    cursor: pointer; /*維持滑鼠移動到按鈕上時可點擊的狀態*/
}

.search i{
    margin-right: 10px;    
}

.search i:hover{
    transform: scale(1.5);
}


.search input{
    width: 110px;
    height: 30px;

    box-shadow: inset 0 4px 4px rgb(0,0,0,.3);
}


.main-content{
    width: 880px;
    margin-top: 100px;
}

/* .main-content ul{} */

.main-content li{
    height: 210px;
    clear: both;
    margin-bottom: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px #313e3a;
    background-color: #455c54;


    position: relative;
}

.main-content li:hover{
    box-shadow: 0 0 10px #313e3a;
    background-color: #98b0a7;
}

.record-box{
    width: 60%;
    float: left;
    
    padding: 25px 25px 60px;
    box-sizing: border-box;
    position: relative;
}

.main-content a{
    display: block;
    text-decoration: none;
    color: #FFFF;
    font-weight: bold;
}

.main-content h1{
    font-size: 20px;
}

.main-content h2{
    color: #bfd0c9;
    font-size: 10px;

    margin-top: 15px;
}

.main-content p{
    font-weight: normal;
    line-height: calc(1.5em*2); /*行高1.5倍的兩行*/
}

.record-box::before{
    content: "More";
    font-size: 1.1em;

    position: absolute;
    right: 0;
    bottom: 75px;
}

.main-content img{
    width: 330px;
    height: 210px;
    float: right;
    border-radius: 10px;
}

/* .page-button{} */

.page-button ul{
    display: flex;
    justify-content: center;
}

.page-button li{
    width: 27px;
    height: 27px;
    background-color: #D9D9D9;
    color: black;

    border-radius: 50%;
    margin-bottom: 25px;
    margin-left: 20px;
}

.page-button a{
    display: block;
    text-decoration: none;
    color: black;
    line-height: 27px;
    margin-left: 10px;  
}

.page-button li:first-child{
    color: black;
    line-height: 27px;
    text-align: center;

    background-color: #949494;
}