.content{
    box-shadow: 0 0 10px #313e3a;
    background-color: #455c54;
    width: 83%; /*大約1000px*/
    margin: 10px auto 50px;
    border-radius: 50px;
    padding: 55px 0 50px;
    color: #FFFF;
    font-size: clamp(0.8rem, 1rem, 1rem);
}

h1{
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: bold;
    margin-bottom: 35px;
}

ul{
    text-align: center;
}

li{
    margin-bottom: 10px;
    font-weight: bold;
}

/* label{} */

li>p{
    text-align: center;
    margin: 10px 0 10px;
    font-size: clamp(0.5rem, 0.75rem, 0.75rem);
}

input{
    width: 25%;
    min-width: 150px;
    line-height: 1.6;
}

.content form>p{
    text-align: center;
    font-size: clamp(0.5rem, 0.75rem, 0.75rem);
}

.button-box{
    text-align: center;
}

button{
    width: 70px;
    height: 50px;
    font-weight: bold;
    border-radius: 50px;
    background:linear-gradient(to bottom, #98b0a7, #728f85);

    margin: 20px 0 25px;
}

button:hover{
    background:linear-gradient(to bottom, #728f85, #5d7c71);
}

button:active{
    background:linear-gradient(to bottom, #394c45, #313e3a);
}

/* ，加入我們 忘記密碼*/
.join-us,.forgot-password{
    color: #bfd0c9;
}

.join-us:hover,.forgot-password:hover{
    color: #dfe8e4;
}

.join-us{
    margin-left: 5px;
}

/* 忘記密碼 */
.forgot-password{
    display: block;
    text-align: center;
    
    position: relative;
}

.forgot-password::before{
    content: "";
    display: block;
    background-image: url(../img/img-login/TD.png);
    width: 275px;
    height: 161px;
    background-size: cover;

    position: absolute;
    left: 10px;
    bottom: -50px;
}

.forgot-password::after{
    content: "";
    display: block;
    background-image: url(../img/img-login/DHH.png);
    width: 434px;
    height: 133px;
    background-size: cover;

    position: absolute;
    right: -10px;
    bottom: -50px;
}

/* -----------------------------1100px------------------------------ */
@media (width <= 1100px) {
    
.forgot-password::before {
    width: 206.25px;   /* 3/4 比例 */
    height: 120.75px;  /* 3/4 比例 */
}

.forgot-password::after {
    width: 325.5px;    /* 3/4 比例 */
    height: 99.75px;   /* 3/4 比例 */
}

}

/* -----------------------------855px------------------------------ */
@media (width <= 855px) {
 /* 1/2 比例 */
.forgot-password::before {
    width: 137.5px;
    height: 80.5px;
}

.forgot-password::after {
    width: 217px;
    height: 66.5px;
}
}

/* -----------------------------600px------------------------------ */
@media (width <= 600px) {
.forgot-password::before {
    bottom: auto;
    left: 35px;
    top: -360px;

    width: 91.5px;
    height: 53px;
}

.forgot-password::after {
    bottom: auto;
    top: -360px;    

    width: 144.5px;
    height: 44px;
}
    
}

/* -----------------------------390px------------------------------ */
@media (width <= 600px) {
.forgot-password::before {
    left: 0;
}

.forgot-password::after {
    right: -30px;
}   
}