

/* .tags{} */

.tags ul{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 50px 0 55px;
}

.tags ul li, .news-list h3{
    width: 100px;
    height: 45px;
    line-height: 45px;
    text-align: center;
   
    border-radius: 5px;
}

/* 過濾選單按鈕 */
.tags ul li:not(.selected){    
    cursor: pointer;
}

.tags ul li:first-child{
    background-color:#5d7c71;
    color: #FFFF;
    border: 1px solid #FFFF;
}

.tags ul li:not(:first-child){
    background-color: #FFFF;
    color: #728f85;
}

/* 點選後的 li 會禁用 cursor: pointer */
.selected {
    cursor: default;  /* 禁用指標 */
}

.selected:hover {
    color: #FFFF;  /* 禁用 hover 色彩變化 */
}

/* 提升層級大於js寫入的內聯式樣式 */
.tags ul li:not(.selected):hover {
    color: #313e3a !important;
}

/* 項目清單 */
.news-list{
    /* margin-bottom: 100px; */
    color: #161d1b;
    width: 1110px;
    margin: 0 auto 100px;
}

.news-list ul{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 30px;

    margin-left: 30px;
}

.news-list li{
    background-color: #FFFF;
    width: 340px;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box
}

.news-list img{
    display: block;
    width: 100%;
    height: 220px;
    border-radius: 5px;    
}

.news-list p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.news-list span{
    display: block;
    text-align: left;
    line-height: 20px;
}

/*swiper   大圖輪播*/

/* Swiper容器 */
.swiper {
    width: 1150px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
}

/* Slider */
.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Slide圖片容器 */
.slides {
    display: flex;
    transition: transform 0.3s ease-in-out; /* 平滑過渡 */
    width: calc(1150px * 5); /* 總寬度 = 單張寬度 * 圖片數 */
    height: 100%;
}

.slide {
    width: 1150px; /* 單張圖片寬度 */
    height: 100%;
    object-fit: cover;
}

/* 按鈕樣式 */
.slider-btn{
    border: none;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.5); /* 預設灰色 (可修改) */
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    transform: translateY(-50%); /*位移自身的50%*/
    width: 50px;
    height: 50px;
    z-index: 10;
}

.slider-btn::before{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border: 10px solid white;
   
}

.prev{
    left: 10px; /*position: absolute*/
}

.prev::before{
    border-color: transparent white transparent transparent;
    transform: translateX(-7px); /*位移自身的-7px*/
}

.next{
    right: 10px; /*position: absolute*/
}

.next::before{
    border-color: transparent transparent transparent white;  
    transform: translateX(7px); /*位移自身的7px*/  
}

.slider-btn:hover {
    background-color: rgba(128, 128, 128, 0.8); /* 修改顏色時，可調整此處 */
}



/* 點的樣式 */
.dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #ccc; /* 預設灰色 (可修改) */
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #666; /* 預設深灰色 (可修改) */
}

/* 輪播圖各標題 */
.box{    
    position: relative;  /*輪播標題定位*/
}

.box::before{
    content: "";
    display: block;
    width: auto;
    height: 30px;
    color: #FFFF;
    font-size: 30px;
    background-color: rgba(69, 92, 84, 0.6);
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    
    position: absolute;
    bottom: 10px;
    right: 10px;

    z-index: 50;
}

.box1::before{
    content: "五角大兜蟲大大大量發生中~~!!";
}

.box2::before{
    content: "大海龜金龜";
}

.box3::before{
    content: "日間野採:黃帶天牛!";
}

.box4::before{
    content: "夜間野集課程招募中";
}

.box5::before{
    content: "英特梅迪亞鬼豔鍬形蟲";
}

  
