 

/* .tags{} */

.tags ul{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 50px 0 55px;
}

.tags ul li{
    font-size: clamp(0.4rem, 1.5vw, 1rem);
}

.tags ul li, .news-list h3{
    width: 100px;
    height: 45px;
    line-height: 45px;
    text-align: center;
   
    border-radius: 5px;
}

/* 過濾選單按鈕 */
.tags ul li:not(.selected){    
    cursor: pointer;
}

.tags ul li:first-child{
    background-color:#5d7c71;
    color: #FFFF;
    border: 1px solid #FFFF;
}

.tags ul li:not(:first-child){
    background-color: #FFFF;
    color: #728f85;
}

/* 點選後的 li 會禁用 cursor: pointer */
.selected {
    cursor: default;  /* 禁用指標 */
}

.selected:hover {
    color: #FFFF;  /* 禁用 hover 色彩變化 */
}

/* 提升層級大於js寫入的內聯式樣式 */
.tags ul li:not(.selected):hover {
    color: #313e3a !important;
}

/* 項目清單 */
.news-list{
    /* margin-bottom: 100px; */
    color: #161d1b;
    width: 100%;
    margin: 0 auto 100px;
}

.news-list ul{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 30px;

    margin-left: 30px;
}

.news-list li{
    background-color: #FFFF;
    width: 340px;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box
}

.news-list img{
    display: block;
    width: 100%;
    height: 220px;
    border-radius: 5px;    
}

.news-list p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.news-list span{
    display: block;
    text-align: left;
    line-height: 20px;
}

/* 輪播器 */

html {
    position: relative;
    height: 100%;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* 輪播圖各標題 */
.swiper-slide{    
    position: relative;  /*輪播標題定位*/
}

.swiper-slide::before{
    content: "";
    display: block;
    width: auto;
    height: 30px;
    color: #FFFF;
    font-size: 30px;
    background-color: rgba(69, 92, 84, 0.6);
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    
    position: absolute;
    bottom: 10px;
    right: 10px;

    z-index: 50;
}

.box1::before{
    content: "五角大兜蟲大大大量發生中~~!!";
}

.box2::before{
    content: "大海龜金龜";
}

.box3::before{
    content: "日間野採:黃帶天牛!";
}

.box4::before{
    content: "夜間野集課程招募中";
}

.box5::before{
    content: "英特梅迪亞鬼豔鍬形蟲";
}

  /* -----------------------1100px------------------- */
  @media  (width <= 1100px){
.tags ul li{
   width: 10%; 
}

.news-list ul{
    justify-content: center;

}
}
/* -----------------------800px------------------- */
@media  (width <= 800px){
.tags ul li{
    height: 35px;
    line-height: 35px;
}

.tags ul{
    margin: 20px 0;
    gap: 40px;
}
}

/* -----------------------750px------------------- */
@media  (width <= 750px){
.tags ul li{
    height: 25px;
    line-height: 25px;
}

.news-list ul{
    margin-left: 0;
    padding: 20px;
    box-sizing: border-box;
}

.news-list li{
    /* display: flex;
    align-items: center; */
    width: 40%;
    padding: 10px;
}

.news-list li img{
    width: 40%;
    height: 80px;
    
}

.small-box{
    display: flex;
    /* padding: 10px; */
    /* box-sizing: border-box; */
    align-items: center;
}

.news-list p{
    font-size: clamp(0.8rem,1.2vw,1.5rem);
}

.small-box span{
    font-size: clamp(0.6rem,1vw,1rem);
    padding: 5px;
    box-sizing: border-box;

}
}

/* -----------------------750px------------------- */
@media  (width <= 600px){
.tags ul{
    margin: 20px 0 0;
}

.news-list li{
    width: 80%;
}

.news-list li img{
    width: 30%;
}
}