

.content{
    margin: 0 auto;
    width: 100%;
    max-width: 1150px;
    font-size: 16px;
}

/* .checkout-progress{} */

.checkout-progress ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-progress li{
    margin: 0 5px;
}

.checkout-progress li:nth-child(1),.checkout-progress li:nth-child(3){
    color: #98b0a7;
}

.box{
    background-color: #FFFF;
    background-image: url(../img/img-order-completion/LOGO_bgipng.png);
    background-position: center 55px;
    background-repeat:no-repeat ;
    margin: 50px auto 75px;
    padding: 140px 0 30px;
    border-radius: 10px;
}

.box h1{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #161d1b;
}

.box p{
    color: #161d1b;
    margin-top: 60px;
    text-align: center;

    position: relative;
}

.box p::after{
    content: "";
    display: block;
    width: 195px;
    height: 130px;
    background-image: url(../img/img-order-completion/DA.png);

    position: absolute;
    right: 145px;
    bottom: 40px;
}

.box p a{
    color: #98b0a7;
}

/* .social-button{} */

.social-button ul{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-button li{
    width: 40px;
    height: 40px;
}

.social-button a{
    display: block;
    width: 40px;
    height: 40px;
}

.social-button li:first-child{
    background-image: url(../img/img-order-completion/icon_facebook.png);
}

.social-button li:nth-child(2){
    background-image: url(../img/img-order-completion/icon_LINE.png);
}

.social-button li:last-child{
    background-image: url(../img/img-order-completion/icon_IG.png);
}

/* -----------------------830px-------------------- */

@media (width <= 830px) {
.box p::after{
    right: 300px;
    bottom: 140px;
}

.box h1{
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.box p{
    margin-top: 30px;
}

.box span, .box p{
    font-size: clamp(0.5rem, 1vw, 1rem);
}

}

/* -----------------------510px-------------------- */

@media (width <= 510px) {
.box p::after{
right: 100px;



}    
}