.content{    
    box-shadow: 0 0 10px #313e3a;
    background-color: #455c54;
    width: 83%; /*大約1000px*/
    margin: 10px auto 50px;
    border-radius: 50px;
    padding: 55px 120px 5px;
    box-sizing: border-box;
}

.content h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 35px;    
}

.input-info{
    display: flex;
    justify-content: center;
    gap: 15px;    
    
}
.input-info li{
    display: flex;
    margin-bottom: 30px;    
    flex-wrap: wrap;    
}

.input-info label{
    flex-shrink: 0;
    text-align: right;
    font-weight: bold;
}

.input-info input{
    width: 150px;
    line-height: 1.6;
}

.input-info input, .input-info select{
    margin-left: 5px;
}

.input-info-left{
    width: 50%;
}

/* .input-info-left ul{}

.input-info-left li{} */

.input-info-left label{
    width: 120px;
}

/* .input-info-left input{} */

.input-info-right{
    width: 50%;
}

/* .input-info-right ul{}

.input-info-right li{} */

.input-info-right label{
    width: 80px;
}

/* .input-info-right input{} */

.input-info-right select{
    margin-right: 5px;
    width: 70px;

   font-size: 16px
}

/* 輸入框的預設文字 */
input::placeholder{
    color: #98b0a7
}

#adderss_detail{
    width: 200px;
    margin: 30px 0 0 85px;
}

.botton-box{
    text-align: center;
}

button{
    width: 70px;
    height: 50px;
    font-weight: bold;
    border-radius: 50px;
    margin-bottom: 10px;
    background:linear-gradient(to bottom, #98b0a7, #728f85);
}

button:hover{
    background:linear-gradient(to bottom, #728f85, #5d7c71);
}

button:active{
    background:linear-gradient(to bottom, #394c45, #313e3a);
}