/* img全部加上圓角 */
img{
    border-radius: 10px;
}
/* ------------首頁第一部分----------- */

.main-title{
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
}

.title-left h1{
    font-size: 60px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 10px;

}

.title-left h2{
    font-size: 20px;
    font-weight: bold;
    margin-left: 55px;
}

.main-title p{    
    text-align: right;
    line-height: 40px;
    margin-right: 40px;
}

.main-pic{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 4px 0 #455c54;
    border-radius: 10px; /*外部容器變圓角*/   
    margin: 0 auto; 

    display: flex;
}

/* 做成3分割圖 */
.main-pic li{

    background-size: cover;
    background-position: center center;   
    transition: .3s;    

    filter: brightness(90%); 
    padding-bottom: 56.25%;
}

.main-pic li:nth-child(1){
    border-radius: 10px 0 0 10px; /*內部li 左上 左下變圓角*/  
}

.main-pic li:nth-child(3){
    border-radius: 0 10px 10px 0; /*內部li 右上 右下變圓角*/  
}

.item1{
    background-image: url(../img/image-index/main-left.png);
    flex-grow: 1;
}

.item2{
    background-image: url(../img/image-index/main.png);
    flex-grow: 1;
}

.item3{
    background-image: url(../img/image-index/main-right.png);
    flex-grow: 1;
}

.main-pic li:hover{
    flex-grow: 5;
    filter: brightness(130%);
}

/* ------------首頁第二部分------------ */
.main-content{
    margin: 60px auto;
    display: flex;
    justify-content: flex-end;
    gap: 50px;    
}

.content-title{
    display: flex;

    margin: 0 auto;
}

.content-title h1, .content-title h2{
    writing-mode: vertical-lr;
    text-align: center;
    font-weight: bold;    
}

.content-title h1{    
    font-size: 80px;
    letter-spacing: 30px;
    position:relative;

    margin-right: 30px;
}
/* 標題文字底層設計框 */
.content-title h1::before{
    content: "";
    display: block;
    width: 80px;
    height: 400px;
    background-color: #455c54;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    margin: auto;
    
    z-index: -1;
}

.content-title h2{
    font-size: 30px;
    letter-spacing: 5px;
    word-spacing: 5px;
}

/* .main-content ul{} */

.main-content ul li{
    margin-bottom: 30px;
    width: 350px;  
}

.main-content a{
    font-size: 25px;
    margin: 15px 0;
    font-weight: bold; 
    text-decoration: none;
    color: #dfe8e4
}
/* trans作為容器使img可以隱藏超出容器的部分 */
.trans{
    display: flex;
    flex-direction: column;
    text-align: center;

    overflow: hidden;
    width: 350px;
    height: 262.5px;

    margin-bottom: 10px;
/* 容器圓角化使img縮放時可以維持圓角 */
    border-radius: 10px;
}
/* 慢動作進場 */
.main-content ul li img{
    width: 100%;
    height: 100%;
    transition:transform 3s;          
}

.main-content ul li img:hover{
    transform:scale(1.2);
}

.main-content ul li span{
    text-align: center;
}

/* ------------首頁第三部分------------ */
.main-extra{
    display: flex;
    justify-content:space-around;
}

.main-extra ul{
    display: flex;
    gap: 10px;
}

.main-extra li{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-bottom: 20px;

    position: relative;
}
/* 獎牌偽元素 */
.main-extra li:first-child::before{
    content: " ";
    width: 100px;
    height: 100px;
    display: block;
    background-image: url(../img/image-index/picOfAward.png);

    position: absolute;
    bottom: 15px;
    left: -20px;
    margin: auto;

    z-index: 2;  /*使偽元素提升*/
    pointer-events: none; /*偽元素可穿透觸發hover*/
}    

.main-extra img{
    width: 100%;
    opacity: 0.5;
    transition: opacity .3s;       
}

.main-extra img:hover{
    opacity: 1;
}

.main-extra span{
    font-size: 28px;

    margin-top: 10px;
}

.extra-title{
    display: flex;
}

/* h1,h2垂直顯示 */
.extra-title h1, .extra-title h2{
    writing-mode: vertical-lr;
    text-align: center;
    font-weight: bold;
}

.extra-title h1{
    font-size: 40px;
    text-align: center; 
    letter-spacing: 3px;
    margin: 0 40px 80px 0;
    
    position:relative;
}
/* h1加上偽元素"2025"  並取消父元素帶來的垂直效果*/
.extra-title h1::before{
    content: "2025";
    display: block;
    font-size: 40px;
    writing-mode: horizontal-tb;

    position:absolute;
    top: -45px;
    left: -25px;
}

.extra-title h2{
    font-size: 20px;
    letter-spacing:5px
}


/* ------------------------820px----------------------- */
@media (width <= 820px){
    
.main-title p{
    font-size: 12px;
}

.content-title h2 {
    padding-right: 50px;
    box-sizing: border-box;
}

.title-left{
    padding: 10px 0 0;
    box-sizing: border-box;
}

.title-left h1{
    font-size: 32px;    
}

.title-left h2, .title-left p{
    font-size: 10px;
}

.main-pic{
    width: 100%;
}

.item1, .item2{
    display: none;
}

.item3{
    width: 100%;
    background-image: url(../img/image-index/main-rwd.png);
    background-size: cover;
    margin: 0 auto;
}

.main-pic li:hover{
    filter: brightness(100%);
}

.main-pic li:nth-child(3){
    border-radius: 10px;
}

.main-content{
    margin: 30px auto;
    flex-direction: column;
    gap: 0;
}

.content-title{
    display: block;
}

.content-title h1{
    margin: 0;
}

.content-title h1,.content-title h2{
    writing-mode: horizontal-tb;
    padding: 0;
}

.content-title h1::before{
    width: 400px;
    height: 80px;
}

.content-title h2{
    margin: 30px 0;
}

.main-content li{
    margin: 0 auto;
}

.main-content a{
    display: block;
    width: 350px;
    margin: 0 auto;
}

.main-extra{
    flex-direction: column-reverse;
}

.extra-title{
    flex-direction: column;
    
}

.extra-title h1, .extra-title h2{
    writing-mode:horizontal-tb;
    margin: 0;
}

.extra-title h1::before{
    position:static;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.extra-title h2{
    margin: 20px 0;
}

.main-extra ul{
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

.main-extra img{
    opacity: 1;
}

}

/* ------------------------600px----------------------- */
@media (width <= 600px){
    .main-title{
        flex-direction: column;
        align-items: center;
    }
    
    .title-left h1{
        font-size: 40px;
        margin: 0;
    }
    
    .title-left h2{
        font-size: 20px;
        margin: 10px 0 10px;
        text-align: center;
    }
    
    .main-title p{
        font-size: 10px;
        margin: 0;
        text-align: center;
        line-height: 20px;
    }
    
    .main-title p{
        font-size: 10px;
        margin: 0;
        text-align: center;
        line-height: 20px;
    }
    
    .content-title h1{
        font-size: 30px;
        letter-spacing: 10px;
    }
    
    .content-title h1:before{
        display: none;
    }
    
    .content-title h2{
        font-size: 15px;
        margin: 10px 0 10px;
    }
    
    .main-extra ul {
        gap: 20px;
    }

}




/* ------------------------430px----------------------- */
@media (width <= 430px){

.rwd-translate a{
    font-size: 20px;
}


}






