    @import url(./reset.css);

body{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #5d7c71;
    font-family: "Noto Sans TC", serif;
    color: #dfe8e4;
    font-size: 16px;
   

    position: relative;
}

body.active{
    overflow: hidden;
}



/* RWD 覆蓋主畫面透明層 */
#black{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0,.8);
    z-index: 999;

    display: none;
}

#black.active{
    display: block;
    overflow: hidden;
}


/* -------------頂端黏著header------------- */
.wrapper{
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    opacity: 1;

    color: #2b3632;
}

.header2{
    background: linear-gradient(to right, #98b0a7,#f5f8f6); 
    display: flex;
    align-items: center;
    padding: 0 40px;
    margin-bottom: 30px;
    height: 100px;
     
    border-radius: 0 0 10px 10px;    
}

.header2 img{
    height: 80px;
}

.header2 ul{
    display: flex;
    margin: 0 auto;
}

.header2 li{    
    font-weight: bold;
    position: relative;
    padding: 0 15px;
}

.header2 li:not(:last-child)::after{
    content:"";    
    width: 1px;
    height: 40px;
    background-color: #5d7c71;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.header2 li a{
    display: block;
    text-decoration: none;
    color: #161d1b;
    transition: transform 0.3s ease;

    position: relative;
}

.header2 li a:hover {
    transform: translate(0,-5px);
}

.header2 li a:hover::before{
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-color: #161d1b;
    position: absolute;
    bottom: -5px;
    right: 0;
    left: 0;
    margin: auto;
}

.user-action{
    text-align: center;
}

.user-action a{
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: #5d7c71;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    box-shadow: 5px 4px 4px rgb(0, 0, 0,.5);
    font-size: clamp(14px, 1.6vw, 16px);

}

.user-action a:hover{
    color: #dfe8e4;
    background-color: #394c45;
}

.user-action a:last-child{
    margin-left: 40px;
}

/* .user-action a img{} */

.fa-cart-shopping{
    color: #dfe8e4;
}

/* ------------footer------------ */
.footer{
    background-color: #2b3632;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}

.footer p{
    font-size: 12px;
    color: #dfe8e4;
   
    width: 200px;
    
}

.footer img{
    width: 70px;
    
}

.footer ul{
    display: flex;   
}

/* .footer li{} */

.footer a{
    margin: 15px;
    text-decoration: none;
}

.footer .fa-brands{
    color: white;
}

.fa-instagram:hover{
    color: #FBFF25;
}
.fa-line:hover{
    color: #00B900;
}
.fa-facebook:hover{
    color: #0866FF;
}

/* RWD 預先設置骨架 */

.header-rwd1{
    background: linear-gradient(to right, #98b0a7,#f5f8f6); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;

    padding: 0 10px;
    box-sizing: border-box;

    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;

    margin-bottom: 20px;

    display: none;
}

.hamburger{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.bar{
    width: 27px;
    height: 3px;
    border-radius: 10px;
    background-color: #161d1b;    
}

.bar:not(:nth-child(2)){
    transition: .5s;
}

.hamburger.active .bar1{
    transform: rotate(45deg) translate(5.5px, 8px);
}

.hamburger.active .bar2{
    opacity: 0;
}

.hamburger.active .bar3{
    transform: rotate(-45deg) translate(5.5px, -7px);
}


/* 滑出式選單 */
.rwd-translate{
    background: linear-gradient(to right, #bfd0c9,#f5f8f6); 
    font-size: 30px;
    font-weight: bold;
    line-height: 80px;

    height: 80px;
    padding-left: 30px;
    box-sizing: border-box;
    
    width: 100%;
    position: absolute; 
    left: -100%; 
}

.tl1{top: 100px;}
.tl2{top: 180px;}
.tl3{top: 260px;}
.tl4{top: 340px;}
.tl5{top: 420px;}
.tl6{top: 500px;}

.rwd-translate.active{
    left: 0;
}

/* 分別進場 */
.tl1{transition: left .3s 0}
.tl2{transition: left .3s .1s}
.tl3{transition: left .3s .2s}
.tl4{transition: left .3s .3s}
.tl5{transition: left .3s .4s}
.tl6{transition: left .3s .5s}


.rwd-translate::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #728f85;

    position: absolute;
    left: 0;
    top: 0;
}

.rwd-translate a{
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #161d1b;
}

.rwd-logo{
    border-radius: 0;
    width: 90px;
}

.rwd-cart{
    display: block;
    background-color: #5d7c71;
    color: white;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    line-height: 42px;
    text-align: center;
}

.footer-logo-rwd{
    display: none;
}

/* ---------------------1000px--------------------- */
@media (width <= 1000px){

.user-action a:last-child{
    margin-left: 10px;
}

.header2 ul {
 font-size: 12px;
}

}

/* ------------------------820px------------------- */
@media (width <= 830px){

.wrapper{
        display: none;
}
body{
    width: 100%;
}

.header-rwd1{
    display: flex;
}

}
/* ------------------------430px------------------- */
@media (width <= 430px){

.footer-logo{
    display: none;
}    

.footer-logo-rwd{
    display: block;
    border-radius: 0;

}

.footer{
    height: 200px;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
}

.footer p{
    text-align: center;
}

}



